/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/05/2016, 20:54:35
    Author     : gastonb
*/

/*Eliminamos los margenes y paddings que agrega el navegador por defecto*/
* {
  padding: 0;
  margin: 0;
}

div{


}

 
/*Agregamos margenes inferiores a los parrafos*/
p {
  margin-bottom: 20px;
}

header {
  background: rgb(128,128,128) ;
  width: 100%;
  position: absolute;
  top:0px;
}


nav {
  float: left; /* Desplazamos el nav hacia la izquierda */
}
 
nav ul {
  list-style: none;
  overflow: hidden; /* Limpiamos errores de float */
}
 
nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
 
nav ul li a {
  display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 40px;
  color: #fff;
  text-decoration: none;
  float:left;
}
 
nav ul li:hover {
  background: #7FB3D5  ;
}

/*#formulario
{
   
   aling-items: center; 
   justify-content: center;
   


}*/

.wrapper {
  width: 80%;
  margin: auto;
  overflow:hidden;
}



.contenido {
  padding-top: 220px;

}



.container {
width: 520px;
height:230px;
margin: 50px auto;
border: solid 1px #1164B7;
font: 1em arial, helvetica, sans-serif;
color: black;
/*padding-top: 200px;*/
position: relative;
top: 160px ;
/*right: 200px;*/
right: 300px;

}



#Titulo{
 position:absolute;
 top:0px;
 right:140px;
    
}

#cuerpo
{
    position: absolute;
    bottom: 80px;
    
    
    
}

#cuerpo1
{
    position: absolute;
    bottom: 10px;
        
    
    
}

/*#Detalle
{
  position:absolute; 
    left: 12px;  
    top:  200px;
    
}*/
#nose
{
    position: relative;
    left: 60px;
}

#Label1
{   position:absolute; 
    left:  0px;
     top:  -70px; 
    
    
}
#botonBusqueda
{ position: absolute;
    left: 387px;
    top: 373px; 
}
#botonBusqueda2
{ position: absolute;
    left:430px;
     top: 373px; 
}

#labelProducto
{
    position: absolute;
    width: 240px;
    top:350px; 
    left:134px;
}

#nombre
{   position: absolute;
    width: 240px;
    top:373px; 
    left:134px;
}

#btn1
{
    position: absolute;
    left: 0px;
    top:  -49px;  
    
}

#container2 {
width: 520px;
height: 230px;
margin: 50px auto;
border: solid 1px #1164B7;
font: 1em arial, helvetica, sans-serif;
color: black;
/*padding-top: 200px;*/
/*padding-bottom: 50px ;*/
position: absolute;
top: 160px;
right: 80px;
}

#Titulo2{
 position:absolute;
 top:0px;
 right:140px;
    
}

#cuerpo2
{
    position: absolute;
    bottom: 80px;
        
    
    
}

#tablaProductos
{
    position: relative;
    top:30px;
    
    
}


#pie
{
    position: relative;
    bottom: -350px;
    
}
/*
#cuerpoGeneral
{
    position: absolute;
    top: 200px;
    
}*/
#container3 {
width: 1158px;
height: 90px;
margin: 50px auto;
border: solid 1px #1164B7;
font: 1em arial, helvetica, sans-serif;
color: black;
/*padding-top: 200px;*/
/*padding-bottom: 50px ;*/
position: absolute;
top: 400px;
right: 80px;
}


